In [1]:
#Q1
print("Hello, Python!")

Hello, Python!

In [3]:
#Q2
a = 4
b = 6
print(a + b)
print(a - b)
print(a * b)
print(a / b)

10
-2
24
0.6666666666666666

In [6]:
#Q3
name = 'Jakob'
print(f"Hello, {name}!")

Hello, Jakob!

In [11]:
#Q4
universities = ['ESADE', 'NOVA', 'IE', 'CBS']
print(universities)
print(universities[0])
print(universities[-1])

['ESADE', 'NOVA', 'IE', 'CBS']
ESADE
CBS

In [15]:
#Q5
student = {'name': 'Jakob','age': 23, 'grade' : 10}
for key, value in student.items():
    print(f"{key}: {value}")

name: Jakob
age: 23
grade: 10

In [16]:
#Q6
coordinates = (10,5)
print(coordinates)
print(coordinates[0])
print(coordinates[1])

(10, 5)
10
5

In [29]:
#Q7
colours = {"red", "green", "blue"}
print(colours)
colours.add("yellow")
print(colours)

#
colours.add("green") #stays the same as there cant be duplicates in a set
print(colours)

colours.remove("green")
print(colours)

light_colors = {'yellow', 'white'}
all_colours = colours.union(light_colors)
print(all_colours)

{'green', 'blue', 'red'}
{'green', 'blue', 'red', 'yellow'}
{'green', 'blue', 'red', 'yellow'}
{'blue', 'red', 'yellow'}
{'blue', 'red', 'yellow', 'white'}

In [33]:
#Q8
a = -6
if a > 0:
  print('positive')
elif a == 0:
  print('zero')
else:
  print('negative')

negative

In [34]:
#Q9
numbers = [1, 2, 3, 4, 5, 6]
for number in numbers:
  print(number)

1
2
3
4
5
6

In [35]:
#Q10
number = 1
while number <= 5:
  print(number)
  number += 1

1
2
3
4
5

In [40]:
#Q11
grade = input("Enter a grade (A, B, C, D, or F): ")
match grade:
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("Input not valid")

Enter a grade (A, B, C, D, or F): A
Excellent!

In [42]:
#Q12
def greet(name):
  print(f'Hello, {name}!')
greet('Jakob')

Hello, Jakob!

In [44]:
#Q13
def square(number):
  print(number**2)
square(5)
square(3)
square(8)
square(2)

25
9
64
4

In [48]:
#Q14
def multiply(a, b = 1):
  print(a*b)
multiply(6,4)
multiply(6)

24
6

In [51]:
#Q15
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = [number ** 2 for number in numbers]
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
#Q16
grades = {'Jackson': [7, 8, 9], 'Yannick': [8, 7, 9], 'Paul': [5, 6, 4]}
def avg_grades(students):
  for student, grades in students.items():
        average_grade = sum(grades) / len(grades)
        print(f"{student} has average of: {average_grade:}")
avg_grades(grades)

Jackson has average of: 8.0
Yannick has average of: 8.0
Paul has average of: 5.0

In [65]:
#Q17
def calculate(number1, number2, operator):
    if operator == "+":
        return number1 + number2
    elif operator == "-":
        return number1 - number2
    elif operator == "*":
        return number1 * number2
    elif operator == "/":
        return number1 / number2
    else:
        return "None"

number1 = float(input("Enter first number: "))
number2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")

print(calculate(number1, number2, operator))

Enter first number: 5
Enter second number: 2
Enter operator (+, -, *, /): /
2.5